[center] {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
[mw-100] {
  max-width: 100px;
}
[mw-200] {
  max-width: 200px;
}
[mw-300] {
  max-width: 300px;
}
[mw-400] {
  max-width: 400px;
}
[mw-500] {
  max-width: 500px;
}
[mw-600] {
  max-width: 600px;
}
[mw-700] {
  max-width: 700px;
}
[mw-800] {
  max-width: 800px;
}
[mh-100] {
  max-height: 100px;
}
[mh-200] {
  max-height: 200px;
}
[mh-300] {
  max-height: 300px;
}
[mh-400] {
  max-height: 400px;
}
[mh-500] {
  max-height: 500px;
}
[mh-600] {
  max-height: 600px;
}
[mh-700] {
  max-height: 700px;
}
[mh-800] {
  max-height: 800px;
}
[w-100] {
  width: 100px;
}
[w-200] {
  width: 200px;
}
[w-300] {
  width: 300px;
}
[w-400] {
  width: 400px;
}
[w-500] {
  width: 500px;
}
[w-600] {
  width: 600px;
}
[w-700] {
  width: 700px;
}
[w-800] {
  width: 800px;
}
[h-100] {
  height: 100px;
}
[h-200] {
  height: 200px;
}
[h-300] {
  height: 300px;
}
[h-400] {
  height: 400px;
}
[h-500] {
  height: 500px;
}
[h-600] {
  height: 600px;
}
[h-700] {
  height: 700px;
}
[h-800] {
  height: 800px;
}
[crop] {
  object-fit: cover;
}
[crop-bottom] {
  object-fit: cover;
  object-position: bottom;
}
[crop-top] {
  object-fit: cover;
  object-position: top;
}
[crop-left] {
  object-fit: cover;
  object-position: left;
}
[crop-right] {
  object-fit: cover;
  object-position: right;
}

:root {
  --forground: black;
  --background: white;
}

@query screen and (prefers-color-scheme: dark) {
  :root {
    --forground: white;
    --background: black;
  }
}

aside[note] {
  padding: 0.5rem;
  margin-block: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--forground);
  border-left: 20px solid #cfc;
}

aside[check] {
  padding: 0.5rem;
  margin-block: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--forground);
  border-left: 20px solid #ccf;
}

aside[instruction] {
  padding: 0.5rem;
  margin-block: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: var(--background);
  color: var(--forground);
  border-left: 20px solid #fcc;
}

aside[goal] {
  padding: 0.5rem;
  margin-block: 0.5rem;
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background);
  color: var(--forground);
  border: 20px solid gold;
}

[copy-paste] {
  height: 100px;
  width: 100px;
  background-image: url("./copy-paste.png");
  object-fit: contain;
  max-width: 175px;
  min-width: 175px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -20px;
}

[by-hand] {
  height: 100px;
  width: 100px;
  background-image: url("./by-hand.png");
  object-fit: contain;
  max-width: 175px;
  min-width: 175px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -40px;
}

[look] {
  height: 100px;
  width: 100px;
  background-image: url("./look.png");
  object-fit: contain;
  max-width: 175px;
  min-width: 175px;
  background-size: 100%;
  background-repeat: no-repeat;
}

[questions] {
  height: 100px;
  width: 100px;
  background-image: url("./questions.png");
  object-fit: contain;
  max-width: 80px;
  min-width: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
}

div[goal] {
  height: 100px;
  width: 100px;
  background-image: url("./goal.png");
  object-fit: contain;
  max-width: 100px;
  min-width: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

div[map] {
  height: 100px;
  width: 100px;
  background-image: url("./map.png");
  object-fit: contain;
  margin-right: 10px;
  align-self: flex-start;
  max-width: 100px;
  min-width: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 20px;
}
